<div class="jumbotron">
<div style="text-align:center" class="principal">
  <h1>
    Bienvenido: {{ usuario }}!
  </h1>
  <div id="list-example" class="list-group">
    <div *ngFor="let board of boards">
    <a  *ngIf="board.usuario == usuario" class="list-group-item list-group-item-action" (click) = "mostrarCiudades(usuario)">{{ board.nombre }}</a>
    </div>
  </div>

  <br>

  <div id="list-example" class="list-group">
    <div *ngFor="let ciudad of ciudades">
    <!--<a  class="list-group-item list-group-item-action" >{{ ciudad.nombre }}</a>-->
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">{{ciudad.nombre}}</div>
      <div class="card-body">
        <h5 class="card-title">{{ciudad.nombre}}</h5>
        <p class="card-text">Temperatura {{ciudad.temperatura}} Grados</p>
        <p class="card-text">Fecha: {{ciudad.fecha}}</p>
      </div>
    </div>
    </div>
  </div>

  <br>

</div>

</div>
